@{
    Layout = null;
}
@model OnlineFood.Application.Dtos.Customers.RegisterDto
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>صفحه ثبت نام</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/wwwroot/AdminTemplate/plugins/iCheck/square/blue.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/custom-style.css">
</head>
<body class="hold-transition login-page">
    <div class="register-box">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <div class="register-logo">
            <a asp-controller="Restaurant" asp-action="Register">ثبت نام رستوران</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">

                <form role="form" method="post" asp-controller="Register" asp-action="Create">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="MobileNumber" name="MobileNumber" asp-for="MobileNumber" placeholder="شماره موبایل" required="required" autocomplete="on" oninvalid="setCustomValidity('شماره موبایل اجباری است')" onkeyup="setCustomValidity('')">
                        <div class="input-group-append">
                            <span class="fa fa-mobile input-group-text"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="Email" name="Email" asp-for="Email" placeholder="پست الکترونیک" autocomplete="on" onkeyup="setCustomValidity('')">
                        <div class="input-group-append">
                            <span class="fa fa-envelope input-group-text"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" placeholder="رمز عبور" required="required" autocomplete="on" oninvalid="setCustomValidity('رمز عبور اجباری است')" onkeyup="setCustomValidity('')">
                        <div class="input-group-append">
                            <span class="fa fa-lock input-group-text"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="repeatPassword" class="form-control" id="RepeatPassword" name="RepeatPassword" asp-for="RepeatPassword" placeholder="تکرار رمز عبور" required="required" autocomplete="on" oninvalid="setCustomValidity('تکرار رمز عبور اجباری است')" onkeyup="setCustomValidity('')">
                        <div class="input-group-append">
                            <span class="fa fa-lock input-group-text"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">ثبت نام</button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="/AdminTemplate/plugins/jquery/jquery.min.js"></script>
    <script src="/AdminTemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/AdminTemplate/plugins/iCheck/icheck.min.js"></script>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            })
        })
    </script>
</body>
</html>