@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>دسترسی غیرمجاز</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/wwwroot/AdminTemplate/plugins/iCheck/square/blue.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/custom-style.css">

    @* <link rel="stylesheet" href=" ~/../wwwroot/AdminTemplate/dist/css/bootstrap-rtl.min.css"> *@
    @* <!-- template rtl version --> *@
    @* <link rel="stylesheet" href=" ../wwwroot/AdminTemplate/dist/css/custom-style.css"> *@
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#">
                <b>دسترسی غیرمجاز</b>
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }
            <div class="card-body login-card-body">
                <p class="login-box-msg">شما به این بخش دسترسی ندارید</p>


            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="/AdminTemplate/plugins/jquery/jquery.min.js"></script>
    <script src="/AdminTemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/AdminTemplate/plugins/iCheck/icheck.min.js"></script>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            })
        })
    </script>
</body>
</html>