@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/wwwroot/AdminTemplate/plugins/iCheck/square/blue.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/custom-style.css">
    </head>
    <body>
    <div class="error-content">
        <h3><i class="fa fa-warning text-danger"></i>  خطایی در سامانه رخ داده است. جهت رفع مشکل با پشتیبانی سایت تماس بگیرید </h3>
    </div>
    </body>
</html>
