@model OnlineFood.Application.Dtos.Orders.OrderDto

<div class="content-wrapper" style="min-height: 265.6px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>سفارش</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">سفارش</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-8">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">سفارش</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" asp-controller="Order" asp-action="New" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="OrderPrice"></label>
                                    <input type="text" class="form-control" name="Title">
                                </div>
                                <div class="form-group">
                                    <label asp-for="OrderDate"></label>
                                    <textarea class="form-control" rows="3" name="Description"></textarea>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ثبت</button>
                                <input class="btn btn-default"
                                       type="button" value="لغو و بازگشت" onclick="location.href='@Url.Action("Index", "Order")'" />
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>