<!-- /.col -->
<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-widget widget-user">
                <a href="#">
                    <img src="/AdminTemplate/images.jpg" width="1200" height="450" />
                </a>
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <h3>دسته بندی ها</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-widget widget-user">
                <a href="#">
                    <div class="widget-user-header text-white"
                         style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">غذای ایرانی</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-widget widget-user">
                <a href="#">
                    <div class="widget-user-header text-white"
                         style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">پیتزا</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-widget widget-user">
                <a href="#">
                    <div class="widget-user-header text-white"
                         style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">ساندویچ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-widget widget-user">
                <a href="#">
                    <div class="widget-user-header text-white"
                         style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">صبحانه</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-widget widget-user">
                <a href="#">
                    <div class="widget-user-header text-white"
                         style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">سوخاری</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-widget widget-user">
                <a href="#">
                    <div class="widget-user-header text-white"
                         style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">کباب</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-widget widget-user">
                <a href="#">
                    <div class="widget-user-header text-white"
                         style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">سالاد</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-widget widget-user">
                <a href="#">
                    <div class="widget-user-header text-white"
                         style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">استیک</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <h3>اطراف من</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner1.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">رستوران زعفران</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">80 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">رستوران ایرانی، چلوخورش</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner2.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">فست فود قصر</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">60 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">فست فود</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner3.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">پیتزا پیتزا</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">86 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">فست فود</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>

    <hr />
    <div class="row">
        <h3>تخفیف دارها</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner4.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">غذای رژیمی تناسب</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">90 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">ایرانی</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner5.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">گودفود</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">84 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">فست فود</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner6.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">رستوران البرز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">92 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">رستوران ایرانی، چلوخورش</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>

    <hr />
    <div class="row">
        <h3>محبوب ترین ها</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner4.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">غذای رژیمی تناسب</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">90 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">ایرانی</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner5.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">گودفود</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">84 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">فست فود</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner6.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">رستوران البرز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">92 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">رستوران ایرانی، چلوخورش</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>

    <hr />
    <div class="row">
        <h3>جدیدترین ها</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner4.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">غذای رژیمی تناسب</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">90 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">ایرانی</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner5.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">گودفود</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">84 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">فست فود</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('AdminTemplate/restaurant/img/baner/banner6.jpg') center center;">
                    @* <h3 class="widget-user-username">فست فود آرین</h3>
                    <h5 class="widget-user-desc">بلوار بهشتی</h5> *@
                </div>
                @* <div class="widget-user-image">
                <img class="img-circle" src="~/AdminTemplate/restaurant/img/logo/logo2.jpg" alt="User Avatar">
                </div> *@
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">رستوران البرز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">92 امتیاز</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 border-left">
                            <div class="description-block">
                                <h5 class="description-header">رستوران ایرانی، چلوخورش</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>
    <!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->