@using OnlineFood.Common.Enums;
@model OnlineFood.Application.DTOs.Restaurant.RegisterRestaurantDTO

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">ثبت نام رستوران</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" asp-controller="Restaurant" asp-action="Register" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId"></label>
                    <select class="form-control" name="category">
                        <option selected disabled>انتخاب</option>
                        <option>گزینه ۲</option>
                        <option>گزینه ۳</option>
                        <option>گزینه ۴</option>
                        <option>گزینه ۵</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNumber"></label>
                    <input type="text" class="form-control" name="mobileNumber">
                </div>
                <div class="form-group">
                    <label asp-for="Banner"></label>
                    <div class="input-group">
                        <input type="file" class="custom-file-input" name="banner">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ManagerFullName"></label>
                    <input type="text" class="form-control" name="managerName">
                </div>
                <div class="form-group">
                    <label asp-for="ManagerPhoneNumber"></label>
                    <input type="text" class="form-control" name="managerMobile">
                </div>
                <div class="form-group">
                    <label asp-for="CreditAccountNumber"></label>
                    <input type="text" class="form-control" name="creditCard">
                </div>
                <div class="form-group">
                    <label asp-for="ProvinceId"></label>
                    <select class="form-control" name="province">
                        <option selected disabled>انتخاب</option>
                        <option>گزینه ۲</option>
                        <option>گزینه ۳</option>
                        <option>گزینه ۴</option>
                        <option>گزینه ۵</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CityId"></label>
                    <select class="form-control" name="city">
                        <option selected disabled>انتخاب</option>
                        <option>گزینه ۲</option>
                        <option>گزینه ۳</option>
                        <option>گزینه ۴</option>
                        <option>گزینه ۵</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="MinimumOrderPrice"></label>
                    <input type="text" class="form-control" name="minimumOP">
                </div>
                <div class="form-group">
                    <label asp-for="PayModels">روش پرداخت</label><span>:</span>
                    @foreach(var c in System.Enum.GetValues<PayModelEnum>())
                    {
                        <input class="form-check-input" type="radio" value="@c" name="pay">
                        <label class="form-check-label">@c</label>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="SendToOutOfArea"></label><span>:</span>
                    <input class="form-check-input" type="radio" value="true" name="sendOutArea">
                    <label class="form-check-label">دارد</label>
                    <input class="form-check-input" type="radio" value="false" name="sendOutArea">
                    <label class="form-check-label">ندارد</label>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" rows="3" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="IntroduceWay"></label>
                    <select class="form-control" name="interduced" asp-items="Html.GetEnumSelectList<IntroduceWayEnum>()">
                        <option selected disabled>انتخاب</option>
                    </select>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">ارسال</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
</div>